<h1 align="center">TeamYears</h1>

<chart>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>
var width = 1500;
var height = 600;
var padding = {top: 20, right: 40, bottom: 20, left: 40};
var canvas = d3.select("chart")
              .append("svg")
              .attr("width",width)
              .attr("height",height);

var group = canvas.append("g")
            .attr("transform", "translate(" + padding.left + "," + padding.top + ")");

var x = d3.scaleLinear()
    .domain([0,82])
    .range([padding.left, width-padding.right*2]);
    //.padding(1);

var y = d3.scaleLinear()
    .domain([50000000,170000000])
    .range([height-padding.bottom*3,padding.top]);

group.append("g")
  .attr("transform", "translate(" + padding.left + ",0)")
  .attr("class", "axis")
  .call(d3.axisLeft(y)
      .ticks(10));

group.append("g")
  .attr("transform", "translate(0,550)")
  .attr("class", "axis")
  .call(d3.axisBottom(x)
      .ticks(5));

</script>
</chart>

<br><hr><br>

<h2 align="center">Season Results</h2>
<table class="thirds-table">
  <tbody>
    <% counter = 0 %>
    <% (@year_groups.length/3).times do %>
      <tr>
        <% 3.times do %>
          <td>
            <% year = @year_groups.keys[counter] %>
            <br><br><hr><h2 align="center"><%= year %></h2><br>
            <table class="thirds-table">
              <tbody>
                   <tr>
                    <th> &nbsp; </th>
                    <th> W </th>
                    <th> L </th>
                    <th> Win % </th>
                    <th> &nbsp; </th>
                  </tr>
                <% @year_groups[year].each{ |teamrow| %>
                  <tr>
                    <td class="thirds-cell"><%= teamrow["team"] %></td>
                    <td class="thirds-cell"><%= teamrow["wins"] %></td>
                    <td class="thirds-cell"><%= teamrow["losses"] %></td>
                    <td class="thirds-cell"><%= teamrow["win_percentage"] %></td>
                    <td class="thirds-cell"><%= teamrow["season_outcome"] %></td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <% counter += 1 %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<hr>
<br><br>
<center><h1>Raw Table: TeamYears</h1></center>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Team</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win %</th>
      <th>Offensive rating</th>
      <th>Defensive rating</th>
      <th>Season outcome</th>
      <th>Team url</th>
      <th>Team home url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_years.each do |team_year| %>
      <tr>
        <td><%= team_year.year %></td>
        <td><%= team_year.team %></td>
        <td><%= team_year.wins %></td>
        <td><%= team_year.losses %></td>
        <td><%= team_year.win_percentage %></td>
        <td><%= team_year.offensive_rating %></td>
        <td><%= team_year.defensive_rating %></td>
        <td><%= team_year.season_outcome %></td>
        <td><%= team_year.team_url %></td>
        <td><%= team_year.team_home_url %></td>
        <td><%= link_to 'Show', team_year %></td>
        <td><%= link_to 'Edit', edit_team_year_path(team_year) %></td>
        <td><%= link_to 'Destroy', team_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Year', new_team_year_path %>
