<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_game.player_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player_game.team_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @player_game.date %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @player_game.opponent_id %>
</p>

<p>
  <strong>Minutes played:</strong>
  <%= @player_game.minutes_played %>
</p>

<p>
  <strong>Fg:</strong>
  <%= @player_game.fg %>
</p>

<p>
  <strong>Fga:</strong>
  <%= @player_game.fga %>
</p>

<p>
  <strong>Fgp:</strong>
  <%= @player_game.fgp %>
</p>

<p>
  <strong>Threep:</strong>
  <%= @player_game.threep %>
</p>

<p>
  <strong>Threepa:</strong>
  <%= @player_game.threepa %>
</p>

<p>
  <strong>Threepp:</strong>
  <%= @player_game.threepp %>
</p>

<p>
  <strong>Ft:</strong>
  <%= @player_game.ft %>
</p>

<p>
  <strong>Fta:</strong>
  <%= @player_game.fta %>
</p>

<p>
  <strong>Ftp:</strong>
  <%= @player_game.ftp %>
</p>

<p>
  <strong>Orb:</strong>
  <%= @player_game.orb %>
</p>

<p>
  <strong>Drb:</strong>
  <%= @player_game.drb %>
</p>

<p>
  <strong>Trb:</strong>
  <%= @player_game.trb %>
</p>

<p>
  <strong>Ast:</strong>
  <%= @player_game.ast %>
</p>

<p>
  <strong>Stl:</strong>
  <%= @player_game.stl %>
</p>

<p>
  <strong>Blk:</strong>
  <%= @player_game.blk %>
</p>

<p>
  <strong>Tov:</strong>
  <%= @player_game.tov %>
</p>

<p>
  <strong>Pf:</strong>
  <%= @player_game.pf %>
</p>

<p>
  <strong>Pts:</strong>
  <%= @player_game.pts %>
</p>

<%= link_to 'Edit', edit_player_game_path(@player_game) %> |
<%= link_to 'Back', player_games_path %>
