<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>YOB</th>
      <th>Position</th>
      <th>Current team</th>
      <th>Active?</th>
      <th>Points avg</th>
      <th>3s avg</th>
      <th>Assists avg</th>
      <th>o-rbnds avg</th>
      <th>d-rebounds avg</th>
      <th>Steals avg</th>
      <th>Blocks avg</th>
      <th>Turnovers avg</th>
      <th>Team history</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.year_of_birth %></td>
        <td><%= player.position_br %></td>
        <td><%= player.current_team %></td>
        <td><%= player.active %></td>
        <td><%= player.points_season_avg %></td>
        <td><%= player.three_pt_shots_made_season_avg %></td>
        <td><%= player.assists_season_avg %></td>
        <td><%= player.offensive_rebounds_season_avg %></td>
        <td><%= player.defensive_rebounds_season_avg %></td>
        <td><%= player.steals_season_avg %></td>
        <td><%= player.blocks_season_avg %></td>
        <td><%= player.turnovers_season_avg %></td>
        <td><%= player.team_history %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
