<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Year of birth:</strong>
  <%= @player.year_of_birth %>
</p>

<p>
  <strong>Position br:</strong>
  <%= @player.position_br %>
</p>

<p>
  <strong>Position dk:</strong>
  <%= @player.position_dk %>
</p>

<p>
  <strong>Current team:</strong>
  <%= @player.current_team %>
</p>

<p>
  <strong>Team history:</strong>
  <%= @player.team_history %>
</p>

<p>
  <strong>Points season avg:</strong>
  <%= @player.points_season_avg %>
</p>

<p>
  <strong>Points career avg:</strong>
  <%= @player.points_career_avg %>
</p>

<p>
  <strong>Three pt shots made season avg:</strong>
  <%= @player.three_pt_shots_made_season_avg %>
</p>

<p>
  <strong>Three pt shots made career avg:</strong>
  <%= @player.three_pt_shots_made_career_avg %>
</p>

<p>
  <strong>Assists season avg:</strong>
  <%= @player.assists_season_avg %>
</p>

<p>
  <strong>Assists career avg:</strong>
  <%= @player.assists_career_avg %>
</p>

<p>
  <strong>Offensive rebounds season avg:</strong>
  <%= @player.offensive_rebounds_season_avg %>
</p>

<p>
  <strong>Defensive rebounds season avg:</strong>
  <%= @player.defensive_rebounds_season_avg %>
</p>

<p>
  <strong>Offensive rebounds career avg:</strong>
  <%= @player.offensive_rebounds_career_avg %>
</p>

<p>
  <strong>Defensive rebounds career avg:</strong>
  <%= @player.defensive_rebounds_career_avg %>
</p>

<p>
  <strong>Steals season avg:</strong>
  <%= @player.steals_season_avg %>
</p>

<p>
  <strong>Steals career avg:</strong>
  <%= @player.steals_career_avg %>
</p>

<p>
  <strong>Blocks season avg:</strong>
  <%= @player.blocks_season_avg %>
</p>

<p>
  <strong>Blocks career avg:</strong>
  <%= @player.blocks_career_avg %>
</p>

<p>
  <strong>Turnovers season avg:</strong>
  <%= @player.turnovers_season_avg %>
</p>

<p>
  <strong>Turnovers career avg:</strong>
  <%= @player.turnovers_career_avg %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
